@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');
html
{
    width: 100%;
}
body
{
    font-family: "Mukta";
}
.img1 
{
    background-image: url("https://www.edf.org/sites/default/files/facebook_thumb/GettyImages-155141288-polar-bear-1200x630-2.jpg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.img2
{
    background-image: url("img2.url");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.linkBar
{
    background-color: black;
    overflow: hidden;
}
.linkBar a
{
    float: right;
    text-align: center;
    text-decoration: none;
    padding: 16px 50px;
    color: lightblue;
}
.linkBar a:hover
{
    background-color: lightblue;
    color: black;
}
.linkBar .active
{
    background-color: lightblue;
    color: black;
}
.mainTitle
{
    text-align: center;
    color: white;
    font-size: 75px;
}
.lineForTitle
{
    width: 50%;
    height: 5px;
    background-color: white;
}
.imgLink
{
    padding: 5px 5px;
}